/*your custom css goes here*/
.jssocials-share:last-child {
    margin: 0.3em 0.6em 0.3em 0;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #148C80;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media (min-width: 576px) and (max-width: 768px) {
    .fs-mobile-9{
        font-size: 12px !important;
        height: 50px !important;
    }
    .product-box-to-custom{
        /* height: 150px !important; */
    }
}

/* Box Products */
.text-reset{
    display: -webkit-box!important;
    padding: 4px;
}

@media (max-width: 576px) {
    .fs-mobile-9{
        font-size: 12px !important;
        height: 50px !important;
    }
    .product-box-to-custom{
        width:75px;
        padding: 0 3px;
    }
}

@media (min-width: 374px) and (max-width: 378px) {

    .product-box-to-custom{
        width:88px!important;
    }
    .fs-16 {
        font-size: 13px !important;
    }
}



/* Categories */
.aiz-main-wrapper .container .row .col-6{
    margin-right: inherit;
}

@media (min-width:576px) and (max-width:2600px) {
    .gutters-16  .aiz-card-box{
        min-width: 100%!important;
        padding: 0!important;
    }
}

